<h1>Show User detail</h1>

<.live_component
  module={TimyWimeyWeb.UserDetailLive.FormComponent}
  id={@user_detail.id}
  title={@page_title}
  action={:edit}
  user_detail={@user_detail}
/>
<!-- For demo purposes
<.live_component
  module={TimyWimeyWeb.Svelte}
  id="user-details"
  name="UserDetails"
  props={%{user_id: @user.id}}
/> -->
